*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 

body{ 
    width: 100%; 
    min-height: 100vh; 
    background: linear-gradient(135deg, #0f172a, #020617);
} 

.container{ 
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 40px 40px 40px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


/* 🔹 HEADER */
.head{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 40px; 
} 

.head ul{ 
    display: flex; 
    gap: 30px;
    list-style: none; 
} 

.logo{ 
    text-decoration: none; 
    font-size: 30px; 
    font-weight: 700; 
    color: #fff;
    transition: .3s; 
} 



.head li a{ 
    text-decoration: none; 
    font-size: 22px; 
    color: #cbd5f5;
    transition: .3s;
} 

.head li a:hover{ 
    color: #fff;
    border-bottom: 2px solid #38bdf8; 
} 

.head button{ 
    padding: 8px 18px;
    background: #38bdf8;
    border: none;
    border-radius: 6px; 
    color: #000; 
    font-size: 14px; 
    cursor: pointer;
    transition: .3s; 
} 

.head button:hover{ 
    background: white; 
    color:b ; 
    border: 1px solid #38bdf8;
} 


/* 🔹 CONTENT */
.content{ 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
} 

.content h2{ 
    font-size: 50px; 
    color: #fff;
    line-height: 1.2;
    margin-top: 20px;
} 

.content p{ 
    width: 500px; 
    margin: 50px 0; 
    color: #cbd5f5;
    line-height: 1.6;
} 

.content button { 
    padding: 10px 25px;
    border: none;
    border-radius: 6px; 
    background: #38bdf8;
    color: #000;
    font-size: 16px; 
    cursor: pointer;
    transition: .3s;
} 

.content button:hover{ 
    background: #0ea5e9;
} 


/* 🔹 IMAGE */
.content .p{ 
    width: 500px; 
} 

img{ 
    width: 100%; 
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.6));
    transition: .4s;
} 

img:hover{
    transform: scale(1.05) rotate(-2deg);
}


/* 🔹 FOOTER */
.under ul{ 
    display: flex; 
    justify-content: center; 
    gap: 30px;
    margin-top: 90px; 
    list-style: none; 
} 

.under a{ 
    text-decoration: none; 
    font-weight: 600; 
    color: #94a3b8;
    transition: .3s;
} 

.under a:hover{ 
    color: #38bdf8;
}
